  <div class="leftbox">
    <nav>
        <a id="profile" href="/" ><i class="fa fa-user"></i></a>
        <a id="payment"  href="/pago"><i class="fa fa-credit-card"></i></a>
        <a id="subscription"  href="/suscripcion"><i class="fa fa-tv"></i></a>
    </nav>
</div>