<form action=<%= action %> method=<%= metodo %> >
    <div class="mb-3">
        <label class="form-label fw-bold" for="nombre">Nombre</label>
        <input class="form-control" name="nombre">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="apellido">Apellido</label>
        <input class="form-control" name="apellido">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="edad">Edad</label>
        <input class="form-control" type="number" name="edad">
    </div>
    <div class="col-12">
        <input class="btn btn-success" type="submit" value="Enviar">
    </div>
</form>