<div class="container my-5">
  <div class="jumbotron">
    <h1>Hola {{ username }}</h1>
    
    <hr>
    
    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href = '/logout'">Logout</button>
    </div>
  </div>
</div>