<div class="card">
  <div class="card-body">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <a href="/tasks/delete/{{id}}" class="btn btn-danger">
      Eliminar
    </a>
    <a href="/tasks/edit/{{id}}" class="btn btn-secondary">
      Editar
    </a>
  </div>
</div>