<div class="card card-body bg-dark text-white p-5">
  <h1 class="display-3">Fallo !</h1>
  <p class="my-3">La app fallo.</p>
  <hr class="my-4" />
  <p>{{errorMsj}}</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">
      Lista de Tareas
    </a>
  </div>
</div>