<div class="card card-body bg-dark text-white p-5">
  <h1 class="display-3">AfterClass task App!</h1>
  <p class="my-3">En esta Afterclass vamos a ver un ejemplo con todo lo relevante hasta la fecha.</p>
  <hr class="my-4" />
  <p>* Mongoose</p>
  <p>* Typescript</p>
  <p>* Modularizacion</p>
  <p>* Router</p>
  <p>* Handlebars</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/tasks/list" role="button">
      Lista de Tareas
    </a>
  </div>
</div>